body{
    background-color: rgb(245, 212, 217);
}
.main{
    background-color: white;
    width: 1000px;
    border:solid white 1px;
    border-radius: 20px;
    margin: 0 auto;
   margin-top: 80px;
}
.head{
    color: rgb(114, 35, 204);
    padding: 10px 20px;
    background-color: white;
    border:whitesmoke solid 1px;
    border-radius: 20px;
    display: flex;
}
.logo{
    order: 1;
    color: white;
    background-color: rgb(88, 21, 150);
    border:solid rgb(88, 21, 150) 15px;
    border-radius: 360px;
   
}
.n{
    order: 2;
 color: rgba(255, 0, 0, 0.616);
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 200px;
}
.a{
    order: 3;
    margin-top: 15px;
    display: flex;
  margin-right: 25px;
}
.a:hover{
    margin-top: 20px;
    color :white;
    background-color: rgb(165, 210, 228);
    border:rgb(165, 210, 228) solid;
    border-radius: 15px;
}
.button{
   order: 4;
   color: white;
    margin-top: 5px;
    margin-left: 90px;
    padding: 5px 15px;
    background-color: rgb(76, 11, 138);
    border:solid rgb(76, 11, 138) 5px;
    border-radius: 10px;
}

.button:hover{
    margin-top: 20px;
    color :white;
    background-color: rgb(165, 210, 228);
    border:rgb(165, 210, 228) solid;
    border-radius: 15px;
}
.setting{
    color: rgb(27, 27, 121);
    display: flex;
    margin: 0 auto;
    margin-left: 50px;
}
.set{
    margin-right: 200px;
    margin-top: 100px;
}
.pub{
    margin-bottom: 20px;
    font-size: 20px;
}
.hd{
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: bold ;
}
.week{
    display: flex;
}
.ac{
    display: flex;
}

.SC{
    display: flex;
}
.ax{
    display: flex;
}
.cs{
    margin-right: 15px;
    background-color: white;
    border: slategray solid 1px;
    padding: 10px 15px;
    border-radius: 15px;
    margin-bottom: 150px;
    margin-top: 30px;
}
.noti{
    margin-top: 100px;
}
.not{
    font-size: 25px;
    font-weight: bolder;
}
.as{
    font-size: 20px;
    font-weight: bolder;
}
.wk{
    font-size: 20px;
    font-weight: bolder;
}
.wn{
    margin-top: 0px;
}

.b1{
    margin-left: 5px;
    margin-top: 5px;
}
input.cheakbox{
    padding: 20px;
}
.cs:hover{
    color :white;
    background-color: rgb(165, 210, 228);
    border:rgb(165, 210, 228) solid;
    border-radius: 15px;
}
.pub:hover{
    color :white;
    padding: 6px 12px;
    background-color: rgb(165, 210, 228);
    border:rgb(165, 210, 228) solid;
    border-radius: 15px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #e01eb0;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #f321d0;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }